@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #E0E0E0;
}

.wrapper {
  padding: 0.5rem;
}

.grid {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 5rem);
}

.calcButton {
  border: none;
  background-color: #FAFAFA;
}

.calcButton:hover {
  border: 0.5px solid #616161;
  background-color: #BDBDBD;
}

.calcIcon {
  background-color: #EEEEEE;
}

.calcIcon:last-child {
  background-color: rgba(66, 165, 245, 0.5);
}

.calcIcon:last-child:hover {
  background-color: rgba(66, 165, 245, 1);
  border: 0.5px solid #616161;
}

.calcHeader {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.displayArea {
  width: 99%;
  height: 5rem;
  border: none;
}

